*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0f172a;

font-family:Arial,Helvetica,sans-serif;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.hero{

text-align:center;

}

.hero h1{

font-size:70px;

margin-bottom:20px;

}

.hero p{

font-size:22px;

margin-bottom:30px;

color:#94a3b8;

}

.hero a{

text-decoration:none;

padding:15px 35px;

background:#2563eb;

border-radius:10px;

color:white;

font-size:20px;

transition:.3s;

}

.hero a:hover{

background:#1d4ed8;

}